<link href="_content/PalinkBlazor.Markdown/editor.md/css/editormd.preview.css" rel="stylesheet"/>
<div style="position: relative; width: 100%; max-width: @MinWidth; margin: 0 auto; padding-top: 2rem;">
    <div id="palink-editormd-view" style="text-align: justify">
        <textarea style="display: none;">@Markdown</textarea>
    </div>
</div>